.header {
    margin: 8px;
    text-align: center;
    justify-content: center;
}

body {
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    font-size: 4px;
}


#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid-container {
    width: 96px;
    display: grid;
    grid-template-columns: repeat(16,6px);
    grid-template-rows: repeat(16, 6px);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.slider-container {
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slider {
    height: 2px;
    border-radius: 2px;
    position: relative;
    width: 100%;
    text-align: center;
}

.square {
    background-color: white;
}

.square:hover {
    background-color: black;
}